@import "tailwindcss";
@source "../../src";

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

/* Eliminate horizontal scrollbar height reduction on mobile/webkit */
.custom-scrollbar::-webkit-scrollbar {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}

.custom-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
